<div class="container" ng-controller="ReportController">
  <div ng-include src="'assets/tpl/partials/reports-header.html'">

  </div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/reports-sidebar.html'">

    </div>
    <div class="col-sm-9 pad-left-0">
      <div class="row">
        <div class="col-sm-10 width100p organizationDet studentSec">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row bg-medium-dark-grey">
                <div class="col-sm-6 nopad">
                  <h4 class="white-text">Sessions Taught By Teacher</h4>
                </div>
                <div class="col-sm-6 text-right print-attendance-container">
                  <button ng-disabled="showPrintAttendanceButton" type="button" ng-click="printAttendance()" class="btn btn-primary btn-md" data-animation="am-fade-and-slide-top">
                    Print Attendance
                  </button>
                </div>
              </div>
              <div class="row">
                <br/>
                <div ng-show="validationError.length > 0">
                  <p class="text-center text-danger">
                    {{validationError}}
                  </p>
                </div>
                <form name="searchForm">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="form-group filled">
                      <label class="control-label">Start Date</label>
                      <input type="text" placeholder="01/01/2017" class="form-control" name="startDate" ng-model="searchForm.startingDate" data-autoclose="1" bs-datepicker required ng-change="dateSearch(searchForm.startingDate, searchForm.endingDate)">
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="form-group filled">
                      <label class="control-label">End Date</label>
                      <input type="text" placeholder="31/01/2017" class="form-control" name="endDate" ng-model="searchForm.endingDate" data-autoclose="1" bs-datepicker required ng-change="dateSearch(searchForm.startingDate, searchForm.endingDate)">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-md-6" style="padding-top: 9px;">
                    <div class="table-search">
                      <input type="text" ng-model="searchForm.searchTerm" name="teacherName" class="form-control input-lg" placeholder="Search Teacher" required />
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                  <button type="button" ng-disabled="searchForm.$invalid" ng-click="makeSearch()" class="btn btn-primary btn-md" data-animation="am-fade-and-slide-top">
                      Go
                  </button>
                  <br/>
                </div>
              </div>
              </form>
              <br/>
              <div class="table-responsive tblScrollStudent white studentData">
                <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html" class="table tblschool table-bordered table-striped table-full table-full-small">
                  <tr ng-repeat="item in $data">
                    <td data-title="'Teacher Name'" filter="{ 'name': 'text' }" sortable="'name'">{{item.name}}</td>
                    <td data-title="'Number of Sessions'" sortable="'role'">{{item.numberOfSessions}}</td>
                    <td data-title="'Action'" class="text-right">
                      <button class="btn btn-primary btn-md" ng-click="viewSession(item)">View Sessions</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end of container -->
