<div class="center" ng-controller="LoginCtrl">
  <div class="card bordered z-depth-2" style="margin:0% auto; max-width:400px;">
    <div class="card-header">
      <div class="brand-logo">
        <div id="logo">
          <div class="foot1"></div>
          <div class="foot2"></div>
          <div class="foot3"></div>
          <div class="foot4"></div>
        </div>
        InkWell
      </div>
    </div>
    <div class="card-content">
      <div class="login_error"> <p>Invalid Email or Password</p></div>
      <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
        <fieldset>

          <div class="form-group active">
            <label for="inputEmail" class="control-label">Email</label>
            <input ng-model="user.email" type="email" class="form-control" required >
          </div>
          <div class="form-group active">
            <label for="inputPassword" class="control-label">Password</label>
            <input ng-model="user.password" type="password" class="form-control" id="inputPassword" required>
          </div>
          <div>
            <div class="form-group">
              <div class="pull-right">
                <button type="submit" class="btn btn-link black-tex" ng-click="SignIn($event)">Login</button>
              </div>
            </div>
          </div>            
        </fieldset>
      </form>
    </div>
  </div>
</div>
 