<div ng-controller="DashboardController" class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">

  <div class="p-20 clearfix">
    <h4 class="grey-text">
          <i class="md md-dashboard"></i>
          <span class="hidden-xs">Performance summary and KPI's</span>
        </h4>
  </div>

  <div class="p-20 no-p-t">

    <div class="row gutter-14 kpi-dashboard">
      <div class="col-md-6">
        <div class="card small">
          <div class="theme-lighten-1 p-10">

            <h4 class="no-margin white-text w600">Sales per day</h4>

            <div class="p-10 p-t-30">
              <div id="chart-sales"></div>
            </div>

          </div>
          <div class="card-content p-10">
            <div class="row">
              <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                <h3 class="no-margin w300">{{dashboardData.monthlyTransactionTotal || 'Calculating..'}}</h3>
                <p class="grey-text w600">Monthly total</p>
              </div>
              <div class="col-md-6 text-center">
                <h3 class="no-margin w300">{{dashboardData.dailyTransactionTotal || 'Calculating..'}}</h3>
                <p class="grey-text w600">Today Total</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="card small">
          <div class="theme-secondary-lighten-1 p-10">

            <h4 class="no-margin white-text w600">Sessions per day</h4>

            <div class="p-10 p-t-30">
              <div id="chart-sessions"></div>
            </div>

          </div>
          <div class="card-content p-10">
            <div class="row">
              <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                <h3 class="no-margin w300">{{dashboardData.monthlySessionTotal || 'Calculating..'}}</h3>
                <p class="grey-text w600">Monthly total</p>
              </div>
              <div class="col-md-6 text-center">
                <h3 class="no-margin w300">{{dashboardData.dailySessionTotal || 'Calculating..'}}</h3>
                <p class="grey-text w600">Today total</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12">

        <div class="card">
          <div class="card-header relative">
            <div class="card-title">Most Sessions</div>
            <div class="small grey-text">The top 3 this month</div>
          </div>

          <div class="list-group">
            <a href class="list-group-item clearfix" ng-repeat="teacher in dashboardData.teachers | limitTo:3">
              <div class="pull-left m-r-10">
                <img ng-src="assets/img/profile/{{teacher.profileImage}}1.png" class="img-responsive" />
              </div>
              <div class="list-group-item-heading">
                {{teacher.name}}
              </div>
              <span class="list-group-item-text">
                {{teacher.sessionTaught}} Sessions Taught
              </span>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
