<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add / Edit Levels</h4>
        <hr>
      </div>
      <div class="modal-body no-p-t">
        <div class="row">
          <div class="col-lg-12">
            <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
              <fieldset>
                <div class="form-group">
                  <label class="control-label">Level Name</label>
                  <input type="text" class="form-control" ng-model="value.name" value="value.name" required>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="OrgInfoSave(value.name,'level', item.id); $hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
