<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title text-left">Add / Edit Session</h4>
        <hr>
      </div>
      <div class="modal-body no-p-t">
        <div class="row">
          <div class="col-lg-12">
            <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
              <fieldset>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group filled">
                      <label class="control-label">Date/Time</label>
                      <input class="form-control" ng-model="value.timeStart"  bs-datepicker />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Hours</label>
                      <input type="text" class="form-control" ng-model="value.units" value="value.units" required>
                    </div>
                  </div>
                </div>
                <input type="hidden" ng-model="studentId" value="studentId">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Taught by</label>
                      <select class="form-control" ng-model="value.staffId" ng-options="x.name for x in staffs">
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Subject</label>
                      <select class="form-control" ng-model="value.subject" ng-options="x for x in subjects">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Level</label>
                      <select class="form-control" ng-model="value.level" ng-options="x for x in levels">
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="SessionInfoSave(value, item.id); $hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>