<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add / Edit Student</h4>
        <hr>
      </div>
      <div class="modal-body no-p-t">
        <div class="row">
          <div class="col-lg-12">
            <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
              <fieldset>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Student Name</label>
                      <input type="text" class="form-control" ng-model="value.name" value="value.name" required>
                    </div>
                  </div>                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">School</label>
                      <select class="form-control" ng-model="value.school" ng-options="x for x in schools">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Level</label>
                      <select class="form-control" ng-model="value.level" ng-options="x for x in levels">
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Status</label>
                      <select class="form-control" ng-model="value.status" ng-options="x for x in studentStatus">
                      </select>
                    </div>
                  </div>
                </div>
<!--                 <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Balance</label>
                      <input type="text" class="form-control" ng-model="value.balance" value="value.balance" required>
                    </div>
                  </div>
                </div> -->
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="StudentInfoSave(value, item.id); $hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
