<!-- Add Teacher Modal : START -->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add Teacher</h4>
        <hr>
      </div>
      <div class="modal-body no-p-t">
        <div class="row">
          <div class="col-lg-12">
            <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
              <fieldset>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="control-label">Teacher Name</label>
                      <input type="text" class="form-control" ng-model="value.name" value="value.name" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="control-label">Role</label>
                      <select class="form-control" ng-model="value.type" ng-options="x for x in types">
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="control-label">Status</label>
                      <select class="form-control" ng-model="value.status" ng-options="x for x in statuses">
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="TeacherInfoSave(value, item.id); $hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Teacher Modal : END -->