<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title text-left">Edit Transcation</h4>
        <hr>
      </div>
      <div class="modal-body no-p-t">
        <div class="row">
          <div class="col-lg-12">
            <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
              <fieldset>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Student Name</label>
                      <input class="form-control" ng-model="value.studentId.name" readonly value="value.studentId.name">
                      </input>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Collected by</label>
                      <select class="form-control" ng-model="value.createdBy" ng-options="x.name for x in staffs">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Method</label>
                      <select class="form-control" ng-model="value.method" ng-options="x for x in methods">
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Amount</label>
                      <input type="text" class="form-control" ng-model="value.amount" value="value.amount" required>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="TransactionInfoSave(value, item.id); $hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
