<div class="container" ng-controller="SessionController">
  <div ng-include src="'assets/tpl/partials/students-header.html'">
    
  </div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/students-sidebar.html'">
      
    </div>
    <div class="col-sm-9 pad-left-0">
      <div class="row">
        <div class="col-sm-10 width100p organizationDet studentSec">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 nopad">
                  <h3>Sessions</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6">
                  <div class="form-group filled">
                    <label class="control-label">From</label>
                    <input type="text" class="form-control" ng-model="startingDate" data-autoclose="1" bs-datepicker ng-change="dateSearch(startingDate, endingDate)">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                  <div class="form-group filled">
                    <label class="control-label">To</label>
                    <input type="text" class="form-control" ng-model="endingDate" data-autoclose="1" bs-datepicker ng-change="dateSearch(startingDate, endingDate)">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section class="tables-data">
                    <div class="card">
                      <div class="row">
                        <div class="col-md-6">
                          <!-- <h3 class="table-title p-20">{{data.length}} rows</h3> -->
                          <button type="button" class="btn btn-primary btn-md" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/session.html" ng-click="delete_value()" bs-modal="modal">
                            Create Session
                          </button>
                        </div>
                        <div class="col-md-6">
                          <div class="table-search">
                            <!-- <input type="text" ng-model="tableParams.filter()['search']" class="form-control input-sm" placeholder="Search Session" autofocus /> -->
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive tblScrollSessions white studentData">
                        <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html"  class="table tblschool table-bordered table-striped table-full table-full-small">
                          <tr ng-repeat="item in $data">
                            <td data-title="'Date/Time'" sortable="'timeStart'">
                            {{item.timeStart | date:'dd/MM/yyyy'}}</td>
                            <td data-title="'Subject'" filter="{ 'name': 'text' }" sortable="'name'">{{item.subject}}</td>
                            <td data-title="'Level'" sortable="'level'">{{item.level}}</td>
                            <td data-title="'Teacher'" sortable="'staffId'">{{item.staffId.name}}</td>
                            <td data-title="'Hours'" sortable="'units'">{{item.units}}</td>
                            <td data-title="'Action'" class="text-right">
                            <button class="btn btn-primary btn-sm" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/session.html" ng-click="modalValue(item)" bs-modal="item"><i class="md-edit"></i></button>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="loaderdiv">
                      <img src="assets/img/ajax-loader.gif">
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of container -->