<div class="container" ng-controller="StudentController">
  <div ng-include src="'assets/tpl/partials/students-header.html'">
    
  </div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/students-sidebar.html'">
      
    </div>
    <div class="col-sm-9 pad-left-0">
      <div class="row">
        <div class="col-sm-10 width100p organizationDet studentSec">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 nopad">
                  <h3>Student</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section class="tables-data">
                    <div class="card">
                      <div ng-show="studentsDiv" class="row">
                        <div class="col-md-6">
                          <!-- <h3 class="table-title p-20">{{data.length}} rows</h3> -->
                          <button type="button" class="btn btn-primary btn-md" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/student.html" bs-modal="modal">
                            Create Student
                          </button>
                        </div>
                        <div class="col-md-6">
                          <div class="table-search">
                            <input type="text" ng-model="tableParams.filter()['search']" class="form-control input-sm" placeholder="Search Student" autofocus />
                          </div>
                        </div>
                      </div>
                      <div ng-show="studentsDiv" class="table-responsive tblScrollStudent white studentData">
                        <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html"  class="table tblschool table-bordered table-striped table-full table-full-small">
                          <tr ng-repeat="item in $data">
                            <td ng-click="changeSidebar(item)" data-title="'Student Name'" filter="{ 'name': 'text' }" sortable="'name'">{{item.name}}</td>
                            <td ng-click="changeSidebar(item)" data-title="'School'" sortable="'school'">{{item.school}}</td>
                            <td ng-click="changeSidebar(item)" data-title="'Level'"  sortable="'level'">{{item.level}}</td>
                            <td ng-click="changeSidebar(item)" data-title="'Status'" sortable="'status'">{{item.status}}</td>
                            <td ng-click="changeSidebar(item)" data-title="'Balance'" sortable="'balance'">{{item.balance}}</td>
                            <td data-title="'Action'" class="text-right">
                              <button class="btn btn-primary btn-sm"  confirmed-click="delete(item)" ng-confirm-click="Are you sure"><i class="md-delete"></i></button>
                            </td>
                            </td>
                          </tr>                        
                        </table>
                      </div>
                      <!-- start info -->
                      <div ng-show="infoDiv" class="modal-body no-p-t">
                        <div class="row">
                          <div class="col-lg-12">
                            <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
                              <fieldset>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="control-label">Student Name</label>
                                      <input type="text" class="form-control" ng-model="value.name" value="value.name" required disabled>
                                    </div>
                                  </div>                  
                                  <div class="col-lg-6">
                                    <div class="form-group active">
                                      <label class="control-label">School</label>
                                      <select class="form-control" ng-model="value.school" ng-options="x for x in schools">
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="form-group active">
                                      <label class="control-label">Level</label>
                                      <select class="form-control" ng-model="value.level" ng-options="x for x in levels">
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group active">
                                      <label class="control-label">Status</label>
                                      <select class="form-control" ng-model="value.status" ng-options="x for x in studentStatus">
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- end info -->
                    </div>
                    <div class="loaderdiv">
                      <img src="assets/img/ajax-loader.gif">
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of container -->