<div class="container" ng-controller="TransactionController">
  <div ng-include src="'assets/tpl/partials/students-header.html'">
    
  </div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/students-sidebar.html'">
      
    </div>
    <div class="col-sm-9 pad-left-0">
      <div class="row">
        <div class="col-sm-10 width100p organizationDet studentSec">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 nopad">
                  <h3>Transactions</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section class="tables-data">
                    <div class="card">
                      <div class="row">
                        <div class="col-md-6">
                          <!-- <h3 class="table-title p-20">{{data.length}} rows</h3> -->
                        </div>
                        <div class="col-md-6">
                          <div class="table-search">
                            <!-- <input type="text" ng-model="tableParams.filter()['search']" class="form-control input-sm" placeholder="Search Transcation" autofocus /> -->
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive tblScrollTransaction white studentData">
                        <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html"  class="table tblschool table-bordered table-striped table-full table-full-small">
                          <tr ng-repeat="item in $data">
                            <td data-title="'Student'" filter="{ 'student': 'text' }" sortable="'student'">{{item.studentId.name}}</td>
                            <td data-title="'Method'" sortable="'method'">{{item.method}}</td>
                            <td data-title="'Teacher'" filter="{ 'createdBy': 'text' }" sortable="'createdBy'">{{item.createdBy.name}}</td>
                            <td data-title="'Amount'" sortable="'amount'">{{item.amount}}</td>
                            <td data-title="'Action'" class="text-right"><button class="btn btn-primary btn-sm" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/transaction.html" ng-click="modalValue(item)" bs-modal="item"><i class="md-edit"></i></button></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="loaderdiv">
                      <img src="assets/img/ajax-loader.gif">
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of container -->