<div class="container" ng-controller="OrganizationController">
  <div ng-include src="'assets/tpl/partials/organizations-header.html'"></div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/organizations-sidebar.html'"></div>
    <div class="col-sm-9 pad-left-0">
      <div class="row">
        <div class="col-sm-10 width100p organizationDet">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 nopad">
                  <h3>Organization Detail</h3>
                </div>
              </div>
              <form class="form-floating orgData" novalidate="novalidate" ng-submit="submit()">
                <fieldset>
                  <legend class="hide">Organization Detail</legend>
                  <span class="help-block">Please fill out the following form below.</span>
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" ng-model="name" value="{{name}}"  required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Organization PIN</label>
                    <input type="text" class="form-control" ng-model="orgPin" value="{{orgPin}}" required>
                  </div>
                </fieldset>
                <button type="submit" class="btn btn-primary btn-lg btn-block text-center info-button" ng-click="BasicInfoSave(name, orgPin)">Save</button>
              </form><br>
              <div class="loaderdiv">
                <img src="assets/img/ajax-loader.gif">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>