<div class="container" ng-controller="OrganizationController">
  <div ng-include src="'assets/tpl/partials/organizations-header.html'"></div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/organizations-sidebar.html'"></div>
    <div class="col-sm-9 pad-left-0">
      <div class="row"> 
        <div class="col-sm-10 width100p organizationDet">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 nopad">
                  <h3>Schools</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <section class="tables-data">
                    <div class="card">
                      <div class="row">
                        <div class="col-md-6">
                          <!-- <h3 class="table-title p-20">{{data.length}} rows</h3> -->
                          <button type="button" class="btn btn-primary btn-md" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/school.html" bs-modal="modal">
                            Create School
                          </button>
                        </div>
                        <div class="col-md-6">
                          <div class="table-search">
                            <input type="text" ng-model="tableParams.filter()['search']" class="form-control input-sm" placeholder="Search data" autofocus />
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive tblScroll white orgData">
                        <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html"  class="table table-striped tblschool table-bordered table-full table-full-small">
                          <tr ng-repeat="item in $data">
                            <td data-title="'School Name'" filter="{ 'name': 'text' }" sortable="'name'">{{item.name}}</td>
                            <td data-title="'Action'" class="text-right"><button class="btn btn-primary btn-sm" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/school.html" ng-click="modalValue(item)" bs-modal="item"><i class="md-edit"></i></button></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="loaderdiv">
                      <img src="assets/img/ajax-loader.gif">
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



