<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>
        <i class="md md-home"></i>
        Organization Detail
      </h1>
      <p class="lead">
        Manage Organization
      </p>
    </div>
  </div>
</div>