<div class="col-sm-3">
  <section class="forms-basic" ng-controller="FormsController">
    <div class="row">
      <div class="col-sm-12 pad-right-1 pad-left-1">
        <div class="col-sm-2 organizationTab" style="width: 100%;">
          <nav class="nav-sidebar grey darken-1">
            <ul class="nav tabs organizationTabsLi">
              <a menu-link href="#/organizations" class="org-tab" onclick="tab_active()">Basic Info</a>
              <a menu-link href="#/organizations/schools" class="org-tab" onclick="tab_active()">Schools</a>
              <a menu-link href="#/organizations/subjects" class="org-tab" onclick="tab_active()">Subjects</a>
              <a menu-link href="#/organizations/levels" class="org-tab" onclick="tab_active()">Levels</a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
