<div class="col-sm-3">
  <section class="forms-basic" ng-controller="FormsController">
    <div class="row">
      <div class="col-sm-12 pad-right-1 pad-left-1">
        <div class="col-sm-2 organizationTab" style="width: 100%;">
          <nav class="nav-sidebar grey darken-1">
            <ul class="nav tabs organizationTabsLi">
              <div class="report-type-container">
                <h4>
                  Type of Report
                </h4>
              </div>
              <a menu-link href="#/reports" class="org-tab" onclick="tab_active()">Sessions Taught By Teacher</a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
