<aside class="sidebar fixed">
  <div class="brand-logo">
    InkWell
  </div>
  <div class="user-logged-in">
    <div class="content" ng-controller="MainController">
      <div class="user-name">{{userName}} <span class="text-muted f9"></span></div>
      <!-- <div class="user-email">xcoder27@gmail.com</div> -->
      <div class="user-actions">
        <a ng-click="signOut($event)" href="">logout</a>
      </div>
    </div>
  </div>
  <ul class="menu-links" ng-cloak>
    <a menu-link href="#/dashboard" icon="md md-blur-on">Dashboard</a>
    <a menu-link href="#/students" icon="md md-people">Students</a>
    <a menu-link href="#/teachers" icon="md md-account-child">Teachers</a>
    <a menu-link href="#/reports" icon="md md-account-child">Reports</a>
    <a menu-link href="#/organizations" icon="md md-home">Organizations</a>
  </ul>
</aside>
