<div class="col-sm-3">
  <section class="forms-basic" ng-controller="FormsController">
    <div class="row">
      <div class="col-sm-12 pad-right-1 pad-left-1">
        <div class="col-sm-2 organizationTab" style="width: 100%;">
          <nav class="nav-sidebar grey darken-1">
            <ul  class="nav tabs organizationTabsLi">
              <li ng-show="infoDiv">
                <button type="button" class="btn btn-primary btn-block" ng-click="StudentInfoSave(value, item.id); $hide()">Save</button>
              </li>
              <li ng-show="studentsDiv" class="">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="Active"
                        ng-checked="getCheckedActive()"
                        ng-model="studentStatusActive"
                        ng-click="toggleSelection(studentStatusActive,studentStatusArchive)"
                      > Active
                    </label>
                  </div>
                </div>
              </li>
              <li ng-show="studentsDiv" class="">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="Archived"
                        ng-checked="getCheckedArchive()"
                        ng-model="studentStatusArchive"
                        ng-click="toggleSelection(studentStatusActive,studentStatusArchive)"
                      > Archived
                    </label>
                  </div>
                </div>
              </li>
              <li ng-show="studentsDiv">
                <span>Last Modified : </span><span>12-12-2016</span>
              </li>
                <a ng-show="infoDiv" menu-link href="#/students/{{value_id}}/basic-info" class="student-tab" ng-click="tab_change(value)">Basic Info</a>
                <a ng-show="infoDiv" menu-link href="#/students/{{value_id}}/sessions" class="student-tab" ng-click="tab_change(value)">Sessions</a>
                <a ng-show="infoDiv" menu-link href="#/students/{{value_id}}/transactions" class="student-tab" ng-click="tab_change(value)">Transactions</a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>