<!-- Teacher Sidebar : START -->
<div class="col-sm-3">
  <section class="forms-basic" ng-controller="FormsController">
    <div class="row">
      <div class="col-sm-12 pad-right-1 pad-left-1">
        <div class="col-sm-2 organizationTab" style="width: 100%;">
          <nav class="nav-sidebar grey darken-1">
            <ul class="nav tabs organizationTabsLi">
            <li ng-show="infoDiv">
              <button type="button" class="btn btn-primary btn-block" ng-click="TeacherInfoSave(value, value.id); $hide()">Save</button>
              </li>
              <li ng-show="teachersDiv">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="Active"
                        ng-checked="getCheckedActive()"
                        ng-model="studentStatusActive"
                        ng-click="toggleSelection(studentStatusActive,studentStatusPending,studentStatusPassive,studentStatusArchived)"
                      > Active
                    </label>
                  </div>
                </div>
              </li>
              <li ng-show="teachersDiv">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="Active"
                        ng-checked="getCheckedActive()"
                        ng-model="studentStatusPending"
                        ng-click="toggleSelection(studentStatusActive,studentStatusPending,studentStatusPassive,studentStatusArchived)"
                      > Pending
                    </label>
                  </div>
                </div>
              </li>
              <li ng-show="teachersDiv">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="Active"
                        ng-checked="getCheckedActive()"
                        ng-model="studentStatusPassive"
                        ng-click="toggleSelection(studentStatusActive,studentStatusPending,studentStatusPassive,studentStatusArchived)"
                      > Passive
                    </label>
                  </div>
                </div>
              </li>
              <li ng-show="teachersDiv">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="Active"
                        ng-checked="getCheckedActive()"
                        ng-model="studentStatusArchived"
                        ng-click="toggleSelection(studentStatusActive,studentStatusPending,studentStatusPassive,studentStatusArchived)"
                      > Archived
                    </label>
                  </div>
                </div>
              </li>
              <li>
                <span>Last Modified : </span><span>12-12-2016</span>
              </li>
              <a ng-show="infoDiv" menu-link href="#/teachers/{{value_id}}/basic-info" class="student-tab" ng-click="tab_change(value)">Basic Info</a>
              <a ng-show="infoDiv" menu-link href="#/teachers/{{value_id}}/sessions" class="student-tab" ng-click="tab_change(value)">Sessions</a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Teacher Sidebar : END -->