<!-- Teacher Basic Info Tab : START -->
<div class="container" ng-controller="TeacherController">
  <div ng-include src="'assets/tpl/partials/teachers-header.html'">
    <!-- Load the Teacher Header -->
  </div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/teachers-sidebar.html'">
      <!-- Load the Teacher Sidebar -->
    </div>
    <div class="col-sm-9 pad-left-0">
      <div class="row">
        <div class="col-sm-10 width100p organizationDet studentSec">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 nopad">
                  <h3>Teachers</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section class="tables-data">
                    <div class="card">
                      <div ng-show="infoDiv" class="modal-body no-p-t">
                        <div class="row">
                          <div class="col-lg-12">
                            <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
                              <fieldset>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="form-group">
                                      <label class="control-label">Teacher Name</label>
                                      <input type="text" class="form-control" ng-model="value.name" value="value.name" required disabled>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group active">
                                      <label class="control-label">Role</label>
                                      <select class="form-control" ng-model="value.type" ng-options="x for x in types">
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group active">
                                      <label class="control-label">Status</label>
                                      <select class="form-control" ng-model="value.status" ng-options="x for x in statuses">
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="loaderdiv"> 
                      <img src="assets/img/ajax-loader.gif">
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Teacher Basic Info Tab : END -->