<div class="container" ng-controller="TeacherSessionController">
  <div ng-include src="'assets/tpl/partials/teachers-header.html'">
    <!-- Load the Teacher Header -->
  </div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/teachers-sidebar.html'">
      <!-- Load the Teacher Sidebar -->
    </div>
    <div class="col-sm-9 pad-left-0">
      <div class="row">
        <div class="col-sm-10 width100p organizationDet studentSec">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 nopad">
                  <h3>Sessions</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6">
                  <div class="form-group filled">
                    <label class="control-label">From</label>
                    <input type="text" class="form-control" ng-model="startingDate" data-autoclose="1" bs-datepicker ng-change="dateSearch(startingDate, endingDate)">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                  <div class="form-group filled">
                    <label class="control-label">To</label>
                    <input type="text" class="form-control" ng-model="endingDate" data-autoclose="1" bs-datepicker ng-change="dateSearch(startingDate, endingDate)">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section class="tables-data">
                    <div class="card">
                      <div class="row">
                        <div class="col-md-6">
                          <button type="button" class="btn btn-primary btn-md" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/teacher-session.html" ng-click="delete_value()" bs-modal="modal">
                            Create Session
                          </button>
                        </div>
                        <div class="col-md-6">
                          <div class="table-search">
                            <!-- <input type="text" ng-model="tableParams.filter()['search']" class="form-control input-sm" placeholder="Search Session" autofocus /> -->
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive tblScrollSessions white studentData">
                        <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html" class="table tblschool table-bordered table-striped table-full table-full-small">
                          <tr ng-repeat="item in $data">
                            <td data-title="'Date/Time'" filter="{ 'timeStart': 'text' }" sortable="'timeStart'">{{item.timeStart | date:'dd/MM/yyyy'}}</td>
                            <td data-title="'Subject'" sortable="'subject'">{{item.subject}}</td>
                            <td data-title="'Level'" filter="{ 'level': 'text' }" sortable="'level'">{{item.level}}</td>
                            <td data-title="'Student'" sortable="'student'">{{item.studentId.name}}</td>
                            <td data-title="'Hours'" sortable="'hours'">{{item.units}}</td>
                            <td data-title="'Action'" class="text-right">
                              <button class="btn btn-primary btn-sm" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/teacher-session.html" ng-click="modalValue(item)" bs-modal="item"><i class="md-edit"></i></button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="loaderdiv">
                      <img src="assets/img/ajax-loader.gif">
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of container -->
