<!-- Teacher Basic Info Tab : START -->
<div class="container" ng-controller="TeacherController">
  <div ng-include src="'assets/tpl/partials/teachers-header.html'">
    <!-- Load the Teacher Header -->
  </div>
  <div class="row">
    <div ng-include src="'assets/tpl/partials/teachers-sidebar.html'">
      <!-- Load the Teacher Sidebar -->
    </div>
    <div class="col-sm-9 pad-left-0">
      <div class="row">
        <div class="col-sm-10 width100p organizationDet studentSec">
          <div class="well white organizationWell" id="forms-validation-container">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 nopad">
                  <h3>Teachers</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section class="tables-data">
                    <div class="card">
                      <div ng-show="teachersDiv" class="row">
                        <div class="col-md-6">
                          <button type="button" class="btn btn-primary btn-md" data-animation="am-fade-and-slide-top" data-template-url="assets/tpl/modals/teacher.html" ng-click="delete_value()" bs-modal="modal">
                            Create Teacher
                          </button>
                        </div>
                        <div class="col-md-6">
                          <div class="table-search">
                            <input type="text" ng-model="tableParams.filter()['search']" class="form-control input-sm" placeholder="Search Teacher" autofocus/>
                          </div>
                        </div>
                      </div>
                      <div ng-show="teachersDiv" class="table-responsive tblScrollStudent white studentData">
                        <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html"  class="table tblschool table-bordered table-striped table-full table-full-small">
                          <tr ng-repeat="item in $data">
                            <td ng-click="changeSidebar(item)" data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">{{item.name}}</td>
                            <td ng-click="changeSidebar(item)" data-title="'Role'" sortable="'role'">{{item.type}}</td>
                            <td ng-click="changeSidebar(item)" data-title="'Status'"  sortable="'status'">{{item.status}}</td>
                            <td data-title="'Action'" class="text-right">
                              <button class="btn btn-primary btn-sm"  confirmed-click="delete(item)" ng-confirm-click="Are you sure"><i class="md-delete"></i></button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!-- basic info -->
                      <div ng-show="infoDiv" class="modal-body no-p-t">
                        <div class="row">
                          <div class="col-lg-12">
                            <form class="form-floating" novalidate="novalidate" ng-submit="submit()">
                              <fieldset>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="form-group">
                                      <label class="control-label">Teacher Name</label>
                                      <input type="text" class="form-control" ng-model="value.name" value="value.name" required disabled>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group active">
                                      <label class="control-label">Role</label>
                                      <select class="form-control" ng-model="value.type" ng-options="x for x in types">
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group active">
                                      <label class="control-label">Status</label>
                                      <select class="form-control" ng-model="value.status" ng-options="x for x in statuses">
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- end -->
                    </div>
                    <div class="loaderdiv"> 
                      <img src="assets/img/ajax-loader.gif">
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Teacher Basic Info Tab : END -->